.imageHome {
  margin-top: 0 !important;
}
#titulo{
  font-family:Stencil Std, fantasy;
  font-style: normal;
  font-weight: 300;

}

#texto{
  font-family:Optima, sans-serif;
  font-style: normal;
  font-weight: 250;


}
