<body>
  <div class="container-fluid">
    <div class="row">
        <img class="card-img t-0" src="./assets/img/paisagem.corte.jpg" alt="Imagem do card" id="imageHome">
    </div>
  </div>

<div class="container-fluid bg-dark">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class=" mt-9">
                    <div class="card border-white">
                      <div class="card-body">
                        <h2 class="card-title" id="titulo">About</h2>
                        <h3 class="card-title" id="texto">Rafaela Bezerra</h3>
                        <p class="card-text" id-="texto">Rafaela Bezerra, Seu trabalho é marcado pelo registro documental que retrata a história das famílias que fotografa. Casamentos, formaturas, batizados e a fotografia documental de família são quatro trabalhos que definem sua identidade como profissional. Em suas imagens ganham destaque o ruído, a textura e o contraste. Relevância é a palavra que define a define como fotografa, segundo ela mesma.</p>
                      </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
  </body>
