<div class="container">
    <div class="card border-white" >
        <div class="card bg-dark text-white">
            <img class="card-img" src="./assets/img/fotografia.jpg" alt="Imagem do card">
            <div class="card-img-overlay">
              <h5 class="card-title">Título do card</h5>
              <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
            </div>
          </div>
        <br>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="p-2 mg-2">
                    <div class="card border-white">
                      <img class="card-img-top" src="" alt="">
                      <div class="card-body">
                        <h4 class="card-title">1</h4>
                        <p class="card-text">Text</p>
                      </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-6">
                    <div class="p-2 mg-2 ">
                        <div class="card border-white">
                          <img class="card-img-top" src="" alt="">
                          <div class="card-body">
                            <h4 class="card-title">2</h4>
                            <p class="card-text">Text</p>
                          </div>
                        </div>
                    </div>
                </div>
         </div>
         <br>
        <div class="row justify-content-center">
            <div class="col-6">
            <div class="p-2 mg-2 ">
                <div class="card border-white">
                  <img class="card-img-top" src="" alt="">
                  <div class="card-body">
                    <h4 class="card-title">3</h4>
                    <p class="card-text">Text</p>
                  </div>
                </div>
            </div>
            </div>
            <div class="col-6">
                    <div class="p-2 mg-2 ">
                        <div class="card border-white">
                          <img class="card-img-top" src="" alt="">
                          <div class="card-body">
                            <h4 class="card-title">4</h4>
                            <p class="card-text">Text</p>
                          </div>
                        </div>
                    </div>
                    </div>
        </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="p-2 mg-2 ">
                <div class="card border-white">
                  <img class="card-img-top" src="" alt="">
                  <div class="card-body">
                    <h4 class="card-title">5</h4>
                    <p class="card-text">Text</p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="p-2 mg-2 ">
                <div class="card border-white">
                        <img class="card-img-top" src="" alt="">
                        <div class="card-body">
                            <h4 class="card-title">6</h4>
                            <p class="card-text">Text</p>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
            <div class="col-6">
                <div class="p-2 mg-2 ">
                    <div class="card border-white">
                      <img class="card-img-top" src="" alt="">
                      <div class="card-body">
                        <h4 class="card-title">7</h4>
                        <p class="card-text">Text</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="p-2 mg-2 ">
                    <div class="card border-white">
                            <img class="card-img-top" src="" alt="">
                            <div class="card-body">
                                <h4 class="card-title">8</h4>
                                <p class="card-text">Text</p>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
