
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow-lg flex">
  <a class="navbar-left">
      <img class="mb-2" src="assets/img/redcameralogo.svg" alt="" width="40" height="auto">
  </a>
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="textoNavbar">
    <ul class="navbar-nav ml-auto mt-0 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/', 'home']" [routerLinkActive]="['active']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/', 'destaque']" [routerLinkActive]="['active']">Destaque</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/', 'orcamento']" [routerLinkActive]="['active']">Orçamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/', 'agendamento']" [routerLinkActive]="['active']">Agendamento</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-danger my-2 my-sm-0"  type="submit">
          <i class="fa fa-fw fa-search"></i>Search</button>
    </form>
  </div>
</nav>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
