<body>
    <div class="container-fluid">
      <div class="row">
          <img class="card-img t-0" src="./assets/img/ensaio-familia/familia.jpg" alt="Imagem do card" id="imageFamilia">
      </div>
    </div>

  <div class="container-fluid bg-dark">
          <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                          <h2 class="card-title" id="titulo">About</h2>
                          <h3 class="card-title" id="texto">ENSAIO | FAMÍLIA</h3>
                          <p class="card-text" id="texto">Apesar de acordar antes das 6h da manhã e o tempo ameaçar chover no momento do ensaio, São Pedro segurou as pontas e nos ajudou.
                              Mais uma vez obrigada, José, Adrizia e pequena Lunna (Lulu)</p>
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia1.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia2.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia3.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia4.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia5.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia6.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia7.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia8.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia9.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia10.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia11.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia12.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia13.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia14.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div class="row justify-content-center">
              <div class="col-6">
                  <div class="mt-9">
                      <div class="card border-white">
                        <div class="card-body">
                            <img class="card-img t-0" src="./assets/img/ensaio-familia/familia15.jpg" alt="Imagem do card" id="imageFamilia">
                        </div>
                      </div>
                  </div>
              </div>
           </div>
      </div>
    </body>
